$wireframe-color: #e3e2e2; // Light gray color for the grid lines
$background-color: #f2f2f2; // Background color of the wireframe
$line-width: 1px; // Width of the grid lines
$grid-size: 50px; // Size of each grid square

// Wireframe background styling
.wireframe-background {
    background-color: $background-color;
    background-image:
        linear-gradient(to right, $wireframe-color $line-width, transparent 1px),
        linear-gradient(to bottom, $wireframe-color $line-width, transparent 1px);
    background-size: $grid-size $grid-size;
    background-position: top left;
    background-repeat: repeat;
    height: 100vh;
}