@import url(./_stickyNotes.scss);
@import url(./_colors.scss);
@import url(./_forms.scss);
@import url(./_highlight.scss);
@import url(./_drawer.scss);
@import url(./_headings.scss);
@import url(./_backgrounds.scss);

:root {
    // Priority colors
    --c-priority-low: #7be0ad;
    --c-priority-medium: #f2cd60;
    --c-priority-high: #f25757;

    // Lighter priority colors 
    --c-priority-low-l: #9aecc3;
    --c-priority-medium-l: #f1da93;
    --c-priority-high-l: #f18686;

}